* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #E8A598;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 30px;
    background-color: #E8A598;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #FAE1DD;
    display: inline-block;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #FAE1DD;
}

header nav {
    float: right;
    margin: 10px 0;
}

header ul li {
    display: inline;
}

header ul li a {
    margin: 0 40px;
    font-weight: thick;
    font-size: 30px;
}

.hero-image {
    background-image: url(./images/hero\ back.png) ;
    height: 300px;
    background-position: center;
    position: relative;
    background-size: cover;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about-me-title {
    border-bottom: 3px solid;
    font-size: 40px;
    text-align: center;
    padding: 0 50px 0 100px

}

.about-marisol {
    margin: auto;
    background-color: #FAE1DD;
    color: #E8A598;
    overflow: auto;
    text-align: center;
    padding: 50px 0 50px 0;
}


.about-marisol img {
    width: 200px;
    border-radius: 100%;
    float: left;
}

.about-marisol p {
    padding: 50px;
    float: left;
    width: 65%;
}

.work {
    background-color: #FAE1DD;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;    
    padding: 50px 0 50px 0;
}

.work-section-title {
    text-align: center;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: #E8A598 solid 3px;

}

.project-box {
    width: 400px;
    height: 250px;
    box-sizing: border-box;
    padding: 20px 0  10px 0;
    flex-wrap: wrap;

}

.project-box-rb {
    padding-left: 50px;
    
}
.project-box-rb img {
    width: 200px;
    height: 200px;
}

.project-box-bh img{
    width: 200px;
    height: 200px;
    position: relative;
    left: 10%;
 }

.work h3 {
    text-align: center;
    padding-bottom: 20px;
}

.project-box p {
    text-align: center;
}

.project-box img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.contact-me {
    background-color: #FAE1DD;
    margin: auto;
    width: 100%;
    padding: 50px 0 50px 0;
    display: flex;
}

.contact-me-title {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: #E8A598 solid 2px;
}

.contact-me p {
    padding: 30px 20px 30px 20px;
    font-size: 20px;
    text-align: center;
}


.button {
    background-color: #FCD2AF;
    color: white;
    border: none;
    text-decoration: none;
    padding: 20px 20px;
    margin: 4px 2px;
}

footer {
    padding: 20px 30px;
    background-color: #E8A598;
}

footer h2 {
    color: #FAE1DD;

}

@media screen and (max-width: 480) {
    header nav ul {
        font-size: 10px; 
        display:block;
        }
 
}